body {
    background-color: powderblue;
}

form.table {
    display: table;
}

p {
    font-size: 12px;
}

div.table {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

input {
    border: 1px solid black;
}

.bordure {
    border: 3px solid black;
    margin: 0 10%;
    padding: 10px;
}

h1 {
    border: 2px black;
    margin: 50px;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}

img {
    width: 150px;
    height: 50px;
    vertical-align: middle;
}

h2 {
    color: black;
    font-size: 18px;
}

h3 {
    color: black;
    font-size: 18px;
}